<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.im.project.manager.School_BookMapper">
  <resultMap id="BaseResultMap" type="com.im.project.model.School_Book">
    <result column="SchoolId" jdbcType="INTEGER" property="schoolid" />
    <result column="BookId" jdbcType="INTEGER" property="bookid" />
  </resultMap>
  <insert id="insert" parameterType="com.im.project.model.School_Book">
    insert into school_book (SchoolId, BookId)
    values (#{schoolid,jdbcType=INTEGER}, #{bookid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.im.project.model.School_Book">
    insert into school_book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="schoolid != null">
        SchoolId,
      </if>
      <if test="bookid != null">
        BookId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="schoolid != null">
        #{schoolid,jdbcType=INTEGER},
      </if>
      <if test="bookid != null">
        #{bookid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <select id="selectBookIdBySchoolId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select BookId
    from school_book
    WHERE SchoolId = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectSchoolIdByBookId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select BookId
    from school_book
    WHERE BookId = #{id,jdbcType=INTEGER}
  </select>

  <update id="update" parameterType="java.lang.Integer" >
    update school_book
    set
      SchoolId = #{0,jdbcType=INTEGER}
    where SchoolId = #{2,jdbcType=INTEGER} AND BookId = #{1,jdbcType=INTEGER}
  </update>
  
  <delete id="delete" parameterType="java.lang.Integer">
    DELETE FROM school_book
    WHERE BookId = #{1,jdbcType=INTEGER} AND SchoolId = #{0,jdbcType=INTEGER}
  </delete>

</mapper>